#aws-powertools-account-name {
    font-family: Amazon Ember,Helvetica Neue,Roboto,Arial,sans-serif !important;
    color: white !important;
    font-size: 12px !important;
    padding: 10px 16px !important;
    line-height: 1.7 !important;
}